<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update" method="POST">
        <input type="hiddden" value="{{student.0.id}}" name="id">
        <input type="text" value="{{student.0.name}}" placeholder="Name" name="username"><br>
        <input type="number" name="mno" value="{{student.0.mno}}" placeholder="Mobile no"><br>
        <input type="submit" value="">
    </form>
</body>
</html>